{% from 'summary-list/macro.jinja' import summaryList %}

{% set dob %}
  {{ presented_participant.date_of_birth }}<br>
  <span class="nhsuk-hint">({{ presented_participant.age }})</span>
{% endset %}

{% set ethnic_background = presented_participant.ethnic_background %}
{% set ethnic_background_category = presented_participant.ethnic_category %}
{% set ethnicity_details_url = presented_participant.ethnicity_url(return_url) %}
{% set ethnicity_details_link %}
  <a href="{{ ethnicity_details_url }}" class="nhsuk-link">Enter ethnicity details</a>
{% endset %}
{% set ethnicity_html %}
  {% if ethnic_background == "Prefer not to say" %}
    {{ ethnic_background }}
  {% elif ethnic_background %}
    {{ ethnic_background_category }} ({{ ethnic_background }})
  {% else %}
    {{ ethnicity_details_link | safe }}
  {% endif %}
{% endset %}

{% set ethnicity_change_link = {
    "items": [
      {
        "href": ethnicity_details_url,
        "text": "Change",
        "visuallyHiddenText": "ethnicity"
      }
    ]
  } if ethnic_background else undefined %}

{% set address_html %}
  {% if presented_participant.address %}
    {% for line in presented_participant.address.lines %}
      {{ line }}<br>
    {% endfor %}
    {{ address.postcode }}
  {% endif %}
{% endset %}
{% set address_html = address_html | trim | default("Not provided") %}

{% set last_known_mammogram = presented_mammograms.last_known_mammogram %}
{% set last_mammogram_html %}
  {% if last_known_mammogram %}
    {{ last_known_mammogram.date }} ({{ last_known_mammogram.relative_date | as_hint }})
    {% if last_known_mammogram.location %}
      </br>{{ last_known_mammogram.location }}
      {% if last_known_mammogram.type %}</br>{{ last_known_mammogram.type }}{% endif %}
    {% endif %}
  {% else %}
  {{ "Not known" | as_hint }}
  {% endif %}
{% endset %}

{{ summaryList({
  "rows": [
   {
     "key": {
       "text": "Full name"
     },
     "value": {
       "text": presented_participant.full_name
     }
   },
   {
     "key": {
       "text": "Gender"
     },
     "value": {
       "text": presented_participant.gender
     }
   } if full_details else undefined,
   {
     "key": {
       "text": "NHS Number"
     },
     "value": {
       "text": presented_participant.nhs_number
     }
   } if full_details else undefined,
   {
     "key": {
       "text": "Date of birth"
     },
     "value": {
       "html": dob
     }
   },
   {
     "key": {
       "text": "Ethnicity"
     },
     "value": {
       "html": ethnicity_html | safe
     },
     "actions": ethnicity_change_link
   },
   {
     "key": {
       "text": "Address"
     },
     "value": {
       "html": address_html
     }
   },
   {
     "key": {
       "text": "Phone"
     },
     "value": {
       "html": presented_participant.phone
     }
   },
   {
     "key": {
       "text": "Email"
     },
     "value": {
       "html": presented_participant.email
     }
   },
   {
     "key": {
       "text": "Last known mammogram"
     },
     "value": {
       "html": last_mammogram_html
     },
     "actions": {
        "items": [
          {
            "href": presented_mammograms.add_link.href,
            "text": presented_mammograms.add_link.text,
            "visuallyHiddenText": presented_mammograms.add_link.visually_hidden_text
          }
        ]
      }
   } if presented_mammograms else undefined
  ]
}) }}
