{% extends 'layout-app.jinja' %}
{% from 'button/macro.jinja' import button %}
{% from 'back-link/macro.jinja' import backLink %}
{% from 'fieldset/macro.jinja' import fieldset %}
{% from 'input/macro.jinja' import input %}
{% from 'radios/macro.jinja' import radios %}
{% from 'textarea/macro.jinja' import textarea %}
{% from 'django_form_helpers.jinja' import form_error_summary %}

{% block beforeContent %}
  {{ backLink(back_link_params) }}
{% endblock beforeContent %}

{% block messages %}
  {{ form_error_summary(form) }}
{% endblock %}

{% block page_content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      {% if caption %}
        <span class="nhsuk-caption-l">{{ caption }}</span>
      {% endif %}
      {{title}}
    </h1>

    <form action="{{request.path}}" method="POST">

      {{ radios({
        "idPrefix": form.where_taken.auto_id,
        "name": form.where_taken.html_name,
        "errorMessage": {
            "text": form.where_taken.errors | first
        } if form.where_taken.errors,
        "fieldset": {
          "legend": {
            "text": "Where were the breast x-rays taken?",
            "classes": "nhsuk-fieldset__legend--m",
            "isPageHeading": false
          }
        },
        "items": [
          {
            "id": form.where_taken.auto_id,
            "value": form.WhereTaken.SAME_UNIT,
            "text": form.where_taken_choices[form.WhereTaken.SAME_UNIT],
            "checked": form.where_taken.value() == form.WhereTaken.SAME_UNIT
          },
          {
            "value": form.WhereTaken.ANOTHER_UNIT,
            "text": form.where_taken_choices[form.WhereTaken.ANOTHER_UNIT],
            "checked": form.where_taken.value() == form.WhereTaken.ANOTHER_UNIT
          },
          {
            "value": form.WhereTaken.ELSEWHERE_UK,
            "text": form.where_taken_choices[form.WhereTaken.ELSEWHERE_UK],
            "checked": form.where_taken.value() == form.WhereTaken.ELSEWHERE_UK
          },
          {
            "value": form.WhereTaken.OUTSIDE_UK,
            "text": form.where_taken_choices[form.WhereTaken.OUTSIDE_UK],
            "checked": form.where_taken.value() == form.WhereTaken.OUTSIDE_UK
          },
          {
            "divider": "or"
          },
          {
            "value": form.WhereTaken.PREFER_NOT_TO_SAY,
            "text": form.where_taken_choices[form.WhereTaken.PREFER_NOT_TO_SAY],
            "checked": form.where_taken.value() == form.WhereTaken.PREFER_NOT_TO_SAY
          }
        ]
      }) }}

      {{ radios({
        "idPrefix": form.when_taken.auto_id,
        "name": form.when_taken.html_name,
        "errorMessage": {
            "text": form.when_taken.errors | first
        } if form.when_taken.errors,
        "fieldset": {
          "legend": {
            "text": "When were the x-rays taken?",
            "classes": "nhsuk-fieldset__legend--m",
            "isPageHeading": false
          }
        },
        "items": [
          {
            "id": form.when_taken.auto_id,
            "value": "exact",
            "text": form.when_taken_choices["exact"],
            "checked": form.when_taken.value() == "exact"
          },
          {
            "value": "approx",
            "text": form.when_taken_choices["approx"],
            "checked": form.when_taken.value() == "approx"
          },
          {
            "value": "not_sure",
            "text": form.when_taken_choices["not_sure"],
            "checked": form.when_taken.value() == "not_sure"
          }
        ]
      }) }}

      {{ radios({
        "idPrefix": form.name_is_the_same.auto_id,
        "name": form.name_is_the_same.html_name,
        "errorMessage": {
          "text": form.name_is_the_same.errors | first
        } if form.name_is_the_same.errors,
        "fieldset": {
          "legend": form.name_is_the_same_legend,
        },
        "items": [
          {
            "id": form.name_is_the_same_choices.auto_id,
            "value": "yes",
            "text": form.name_is_the_same_choices["yes"],
            "checked": form.name_is_the_same.value() == "yes"
          },
          {
            "value": "no",
            "text": form.name_is_the_same_choices["no"],
            "checked": form.name_is_the_same.value() == "no"
          }
        ]
      }) }}

      {# Textarea for any other relevant details #}

      {{ textarea({
        "name": form.additional_information.html_name,
        "id": form.additional_information.auto_id,
        "rows": "2",
        "label": {
          "text": "Additional information (optional)",
          "classes": "nhsuk-label--m"
        },
        "hint": {
          "text": "For example, the reason for the mammograms and the outcome of the assessment"
        }
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

      {{csrf_input}}
  </form>
  {% endblock page_content %}
